@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Hospital</h1>

    <p>Thank You for choosing our hospital for your healhtCare needs .</p>
    <p>Here we strive to provide the heighest quality of medical care for our patients</p>
    <p>Learn more about our services and specializations</p>

    @* <span class="border">Internal mediacare</span> *@


    <table class="table table-bordered">
        
        <tbody>
            <tr>
                <td scope="row">Internal mediacare</td>
               
            </tr>
            <tr>
                <td scope="row">Pediatric</td>
               
            </tr>
            <tr>
                <td scope="row">Surgery</td>
            </tr>
        </tbody>
    </table>
    


    <p>If you need any help please do not hesitate to contact us</p>


    
</div>
